@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Open Sans", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 900px;
    padding: 0 20px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
    max-width: 100%;
  }
}

.modal-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
.modal-overlay.active {
  visibility: visible;
}

.modal {
  background-color: #F0F2F5;
  padding: 20px 30px;
}
.modal h2 {
  margin-bottom: 24px;
  color: #363F5F;
  font-weight: 600;
}
.modal label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.modal label span {
  font-size: 12px;
  color: #969CB2;
  margin-bottom: 4px;
}
.modal label small {
  font-size: 12px;
  margin-top: 2px;
}
.modal label input {
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #000;
}
.modal .actions {
  display: flex;
  margin: 0 -10px;
}
.modal .actions a,
.modal .actions button {
  display: block;
  padding: 16px;
  width: 50%;
  text-align: center;
  margin: 0 10px;
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  transition: 0.2s;
}
.modal .actions a {
  border: 2px solid #E92929;
  color: #E92929;
  text-decoration: none;
}
.modal .actions a:hover {
  background-color: rgba(233, 41, 41, 0.1);
}
.modal .actions button {
  border: none;
  background-color: #47126b;
  color: #FFF;
  cursor: pointer;
}

header {
  height: 240px;
  background-color: #8e7dbe;
  display: flex;
  justify-content: center;
  position: relative;
}
header h1 {
  margin-top: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #FFF;
}
header h1 span {
  color: #47126b;
  font-weight: 800;
}

main {
  background-color: #F0F1F5;
  min-height: calc(100vh - 240px);
  padding-bottom: 60px;
}
main .balance {
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 900px) {
  main .balance {
    flex-direction: column;
    margin-top: -120px;
  }
}
main .balance-card {
  padding: 25px 30px;
  background-color: #FFF;
  margin: 15px;
  width: calc(33.3% - 30px);
  border-radius: 4px;
  box-shadow: 0 0px 6px 6px rgba(16, 27, 30, 0.1);
  margin-top: -70px;
}
@media screen and (max-width: 900px) {
  main .balance-card {
    margin: 0;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
  }
}
main .balance-card:last-child {
  background-color: #47126b;
}
main .balance-card:last-child h3,
main .balance-card:last-child .valor {
  color: #FFF;
}
main .balance-card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
@media screen and (max-width: 900px) {
  main .balance-card-top {
    padding: 20px 30px;
  }
}
main .balance-card-top h3 {
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  font-size: 16px;
  color: #969CB2;
}
main .balance-card .valor {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 54px;
  color: #363F5F;
}
@media screen and (max-width: 900px) {
  main .balance-card .valor {
    padding: 20px 30px;
  }
}
main .balance-card .valor span {
  font-weight: 600;
}

.data-table {
  width: 100%;
}
.data-table thead tr th,
.data-table tbody tr td {
  text-align: left;
  padding: 20px 32px;
}
.data-table thead tr th {
  color: #47126b;
}
.data-table thead tr th.date {
  text-align: end;
}
.data-table tbody tr td.description {
  color: #363F5F;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
.data-table tbody tr td.date {
  text-align: end;
  color: #969CB2;
}
.data-table tbody tr td.income {
  color: #47126b;
}
.data-table tbody tr td.expense {
  color: #E92929;
}
.data-table tbody tr {
  border-radius: 4px;
  transition: 0.2s;
}
.data-table tbody tr:nth-child(2n+1) {
  background-color: #FFF;
}
.data-table tbody tr:hover {
  background-color: #E5E7EB;
}
.data-table tbody tr .remove {
  color: red;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.modal form {
  max-width: 500px;
}
.modal form h2 {
  margin-bottom: 20px;
}

.nova-transacao {
  color: green;
}

/*# sourceMappingURL=style.css.map */
